body {
  font-family: 'Inter', sans-serif;
}
.create-association-container {
    margin-left: 200px;
    display: flex;
    height: 100vh;
  }
  
  .create-association-content {
    flex: 1;
    padding: 40px;
    background-color: #fff;
  }
  
  /* Form layout */
  .create-association-form {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .form-title {
    position: relative;
    top: -5px; /* Mută titlul mai sus */
    left: -20px; /* Mută titlul spre stânga */
    color: #8E244D;
    text-align: left; /* Aliniază textul la stânga */
    margin-bottom: 50px;
    margin-top: 10px; /* Adaugă un spațiu de sus */
    margin-left: 20px; /* Mută titlul spre stânga */
  }
  
  .section-title {
    color: #8E244D;
    margin-bottom: 10px;
  }
  
  .form-row {
    margin-top:15px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .checkboxes-row {
    display: flex;
    gap: 20px;
  }
  .create-association-form .checkbox-input {
    display: inline-block; 
  }
  
  /* Text Input */
  .text-input {
    flex: 1;
    width: 250px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .input-field {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f0f8ff;
  }

 
.input-field:hover {
  border-color: #1f4d91; 
  background-color: #f0f8ff;
  transition: border-color 0.3s, background-color 0.3s; 
}


.input-field:focus {
  border-color: #275DAD; 
  box-shadow: 0 0 5px rgba(39, 93, 173, 0.5); 
  outline: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}
  
  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #333;
  }
  
  .checkbox-input {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  .checkboxes-row {
    display: flex;
    gap: 20px;
  }
  
  .form-submit {
    text-align: center;
    margin-top: 32px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #275DAD;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #1f4d91;
  }
  