/* ExpensesPage.css */
.expenses-page-container {
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  .expenses-page-content {
    margin-left: 15%;
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .expenses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .expenses-header h1 {
    color: #004085;
    margin: 0;
  }
  
  .expenses-add-button {
    background-color: #9b1c31;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .expenses-add-button .add-button-icon {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .expenses-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Reducem gap-ul între grupuri */
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 23%; /* Lățimea este ajustată pentru a fi mai compactă */
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #004085;
    width: 30%; /* Lățimea etichetei este acum 30%, pentru a fi mai aproape de input */
    text-align: left;
  }
  
  .form-input {
    padding: 8px; /* Reducem padding-ul pentru a face inputul mai compact */
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    width: 65%; /* Ajustăm lățimea inputului pentru a fi mai apropiat de etichetă */
  }
  
  .form-submit-button {
    background-color: #9b1c31;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .expenses-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .expense-item {
    background-color: white;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    align-items: center;
    gap: 10px;
  }
  
  .expense-item > div {
    font-size: 14px;
    color: #004085;
  }
  
  .expense-document a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .expense-settings .settings-icon {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #004085;
  }