server:
  port: 8080
  ssl:
    bundle: "server"
    enabled-protocols: TLSv1.2
spring:
  ssl:
    bundle:
      jks:
        server:
          key:
            alias: "bloc360.live"
          keystore:
            location: "classpath:windows/keystore.p12"
            password: ${SSLCERTPASS}
            type: "PKCS12"
      pem:
        client:
          truststore:
            certificate: "classpath:bloc360.cer"
  application:
    name: backend
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: info, logfile, health
logging:
  file:
    name: backendLog