server:
  port: 8080
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://bloc360.live:8443/realms/bloc360
  application:
    name: backend
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  mail:
    host: mail.bloc360.live
    port: 465
    username: ${EMAIL_APP_USER}
    password: ${EMAIL_APP_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: info, logfile, health
logging:
  file:
    name: backendLog
  level:
    org.springframework.security: DEBUG

keycloak:
  realm: ${KEYCLOAK_REALM}
  adminClientId: ${KEYCLOAK_ADMINCLIENTID}
  adminClientSecret: ${KEYCLOAK_CLIENTSECRET}
  urls:
    auth: ${KEYCLOAK_AUTH}

default:
  group:
    users: app-users
    admin: app-admin