server:
  port: 8080
  ssl:
    bundle: "server"
    enabled-protocols: TLSv1.3, TLSv1.2
    enabled: true

logging:
  level:
    root: INFO
    org:
      springframework:
        security: DEBUG

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://bloc360.live:8443/realms/bloc360
  ssl:
    bundle:
      jks:
        server:
          key:
            alias: "1"
          keystore:
            location: "classpath:abc.p12"
            password: ${SSLCERTPASS}
            type: "PKCS12"
      pem:
        client:
          truststore:
            certificate: "classpath:domain.pem"
